.EightBall-div {
    background-color: black;
    color: white;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    border-radius: 50%;
}

.EightBall-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}